.jumbotron {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 200;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 0rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}