<!doctype html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62025328-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62025328-3');
    </script>

    <!-- Primary Meta Tags -->
    <title>This T-shirt does not exist</title>
    <meta name="title" content="This T-shirt does not exist">
    <meta name="description" content="All these prints with modern art are generated and do not exist. Click to download a full-size image to print on a real T-shirt. Prints are updated every 30 seconds(reload the page). You probably have one chance to download them.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://ganarts.ru/">
    <meta property="og:title" content="This T-shirt does not exist">
    <meta property="og:description" content="All these prints with modern art are generated and do not exist. Click to download a full-size image to print on a real T-shirt. Prints are updated every 30 seconds(reload the page). You probably have one chance to download them.">
    <meta property="og:image" content="https://raw.githubusercontent.com/EvgenyKashin/ganarts/master/img/preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://ganarts.ru/">
    <meta property="twitter:title" content="This T-shirt does not exist">
    <meta property="twitter:description" content="All these prints with modern art are generated and do not exist. Click to download a full-size image to print on a real T-shirt. Prints are updated every 30 seconds(reload the page). You probably have one chance to download them.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/EvgenyKashin/ganarts/master/img/preview.png">



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <title>This T-shirt does not exist</title>
  </head>
  <body>
    <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">About</h4>
                <p class="text-muted">Images are generated with <a href="https://github.com/NVlabs/stylegan" target="_blank">StyleGAN</a>
                  neural network, trained on 40,000 images of modern art.
                  The training process takes 3 days on 4x1080ti GPU.
                  Every 30 seconds there are 9 new images, and the old ones are deleted.
                  To print these images, use specialized sites(place for your ad).
                  To increase the resolution, you can use a <a href="http://waifu2x.udp.jp" target="_blank">super resolution</a>
                  (increase the image size from 1024px to 2048px).
                </p>
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Contact</h4>
                <ul class="list-unstyled">
                  <li><a href="https://twitter.com/digitman_" class="text-white" target="_blank">Like on Twitter</a></li>
                  <li><a href="https://www.facebook.com/profile.php?id=100010913490716" class="text-white" target="_blank">Like on Facebook</a></li>
                  <li><a href="https://github.com/EvgenyKashin/ganarts" class="text-white" target="_blank">Star on GitHub</a></li>
                  <li><a href="#donate" class="text-white">Donate for GPU renting</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
              <strong>GanArts</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span>More info</span>
            <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">This T-shirt does not exist</h2>
          <p class="lead text-muted">All these prints with modern art are generated and do not exist.
              Click to download a full-size image for printing(not this site) on a real T-shirt.
              Prints are updated every 30 seconds(reload the page).
              You probably have one chance to download them.
          </p>
        </div>
      </section>

      <div class="album bg-light">
        <div class="container">
          <div class="row">
            {% for url in urls %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <a href="{{ url }}" download target="_blank">
                <div class="card-body">
                  <img src="images/{{ prefix }}_t_shirt_image_{{ loop.index0 }}.png" class="visible_element" width="100%" height="100%">
                  <img src="images/{{ prefix }}_image_{{ loop.index0 }}.png" class="hidden_element" width="100%" height="100%">
                </div>
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>

    <footer>
      <div class="container">
        <p class="float-right">
          <a href="#" class="btn btn-primary btn-default">To the top</a>
        </p>
        <p id="donate" class="font-weight-bold">
          Donate for GPU renting:
          <a href="https://yasobe.ru/na/na_oplatu_gpu" target="_blank">
            <button class="btn btn-success">Yandex.Money</button></a>
          <a href="https://www.paypal.me/digitman" target="_blank">
            <button class="btn btn-info">PayPal</button></a>
        </p>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="static/main.js"></script>
  </body>
</html>